@font-face {
  font-family: 'TT Commons Pro';
  src: url('../fonts/tt-commons-pro/TTCommonsPro-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('../fonts/tt-commons-pro/TTCommonsPro-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('../fonts/tt-commons-pro/TTCommonsPro-DemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('../fonts/tt-commons-pro/TTCommonsPro-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

body {
  font-family: 'TT Commons Pro', 'Helvetica Neue', Helvetica, Arial, 'Noto Sans', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

option {
  color: black;
}
